<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress-Less Learning Platform Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<!-- Navigation -->
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>Stress-Less</h2>
            </div>

            <ul class = "nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('lessons') }}">Lessons</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

<main class="main-content">
    <!-- Title -->
    <section class="focus">
        <h1>About Us</h1>
        <p>Stress-Less is a tool for you and your family to learn and understand 
            online safety. We will teach you everything there is to know about how 
            social media affects your brain and how to use it safely and productively.
        </p>
    </section>

    <!-- Info Sections -->
    <section class="card-layout">
        <div class="card">
            <h2>Who are We?</h2>
            <p>Stress-Less was founded in Berlin by students at CODE University. Our 
                team consists of mostly students in Berlin, but we regularly work 
                with experts in pedagogy to ensure that our platforms are 
                child-friendly and that the information we teach is accurate.
            </p>
        </div>

        <div class="card">
            <h2>Our Goals</h2>
            <p>Social media is often related to negative mental health effects and 
                online safety issues. We think that while these are real issues, 
                social media is a valuable tool both for socializing and realizing 
                your ambitions. We want to help parents teach the next generation 
                how to get all of the benefits social media has to offer while negating 
                the negative effects it can have on their health.
            </p>
        </div>
    </section>

    <section class="contact-us">
        <h1>Contact Us</h1>
        <p>If you have any questions or concerns regarding our products, or if you would 
            like to work with us, please feel free to contact us by filling out the form 
            below
        </p>
        <input class="text-input" type="text" placeholder="Email...">
        <input class="text-input" type="text" placeholder="Subject...">
        <input class="text-input-body" type="text" placeholder="Body...">
    </section>
</main>